<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hapi web demo</title>
        <meta name="description" content="xitter">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Include your external scripts here-->
        <script src="https://code.jquery.com/jquery-2.2.3.min.js">{{!}}</script>

        <!--Link tags for CSS Included in views are put here -->
        {{{block "css"}}}

        <!--Link tags for JS Included in views are put here -->
        {{{block "js"}}}

    </head>
    <body>
        <div class="demo-container">
            <!--Content of views-->
            {{{ content }}}
        </div>
    </body>
</html>
